.ascii_art {
    font-family:"MS PGothic","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro","Trebuchet MS",Verdana,Futura,Arial,Helvetica,sans-serif;
    font-size:12pt;
	line-height:1;
	border:none;
	background-color:transparent;
}

body {
    padding-top:50px;
    padding-bottom:30px;
}

#footer {
    text-align:center;
    font-size:12px;
    line-height:16px;
}

span.time-nowrap {
    white-space:nowrap;
}

table.itemlist {
    font-size:13pt;
}
