{% extends "kotoridb/base.html" %}
{% block main %}
<div class="jumbotron">
<div class="container">
<div class="row">
	<div class="col-md-5">
		<pre class="ascii_art">
     　　　　　　　 　 　 　 ／⌒ヽ
     　　　　　 　 　 　 　 ( 　 (＿j
     　　　　　　　 　 　 　 ＼
     　　　　 　 　 　 __/ヽ_＿＼_＿＿／`:.、
     　　 　 　 　 _,.ｨ.:.:,.∠.:.:.:.-=≧=-:.:.:.:.:.:.:＼
          　 　 ＿|.:.,.イ＿[//]__[//]__[//|.:.:.:.:.:.:ヽ
     　「￣￣r┴j/.:.:.:.:.:.:.:.:.:.:.:.:.:.:.:.:.:.:.:.:.:.|.:.:.:.:.:.:.:「ヽ＿＿＿
     　|＿＿_二/.:.:.:.:/|.:.|.:.:.:.:.:.:|lﾊ.:.:.:.:.:.:|.:.:.:.:.:.:.:|　〔＿
     　　　/⌒:厶:.:.:/＼.:|.:.:.:.:.:.:|:斗:.:.:.:.:.|.:.:.:.:.:.:.:|　〔￣＿＿
        　 {.:.:.:/.:.:.:}/　 }:/L.:.:.:.:.ﾉ　｀⌒ ｰ|.:.:.:.:.:.:.:L___/.:ヽ.:.
     　　　V/.:.:.:/　　＼　 　 　 　 ／ 　 ＼.:.:.:＼(.:`:.､:.ﾉ_j
     　　 ／.:.:.:/:!　　／　　　　　　＼　　　j＼.:.:.:.／l:.:.:./
     　　 ＼／/:j　　　　　　　 　 　 　 　 /.:.:/ ／　/‐ '
        　 {/ /:./　/i/i/　 /￣￣|　/i/i//.:.:/⌒',　/{
     　　 / /.八　 　 　　 | /⌒' |　　　/.:.:/　 　∨.:{
         / /.:.:.:/＞: .,, ＿_乂＿_ﾉ＿ ./.:.:/　　 　 ∨{
         }/.:.:.:/　//　/| |　　 ∨/　//.:.:.:{　　 　 　 Ⅵ
         }.:.:.:/　//　/ :| |　　 //　/ {.:.:.:.:{　　　　　　Ⅵ</pre>
	</div>
	<div class="col-md-7">
		<h1>moe moe gopass!</h1>
		<p>Here is my site for information about comic and anime.</p>
		<p>There are news and info about on-air anime each season on the "Bangumi" button on the navigation.</p>
		<p>大家好。我是新加坡人。我刚刚开始学中文。希望大家喜欢我的网站。</p>
		
	</div>
</div>
</div>
</div>
{% endblock %}
{% block footer_extra %}
<script type="text/javascript">
$("li#nav-home").addClass("active");
</script>
{% endblock %}

