{% extends "kotoridb/base.html" %}
{% block title %}gopass.moe - on air{% endblock %}
{% block main %}
<div class="container">
<div class="row">
<div class="col-lg-12">
<h1 class="page-header">On Air Animations</h1>
<table class="table table-striped table-bordered itemlist">
<thead>
    <tr>
        <th>Title</th>
        <th>Translation</th>
        <th>Studio</th>
        <th>TV</th>
        <th>Time</th>
        <th>Domestic TV</th>
    </tr>
</thead>
<tbody>
    {% for w, a_list in animes.items %}
    {% for a in a_list %}
    <tr data-clickx="1">
        <td>{% if a.homepage %}<a href="{{ a.homepage }}" target="_blank">{% endif %}{{ a.title }}{% if a.homepage %}</a>{% endif %}</td>
        <td>{% if a.translations %}{{ a.translations }}{% endif %}</td>
        <td>{{ a.studio.name }}{% if a.studio.translations %}{% endif %}</td>
        <td>{% if a.on_air_link %}<a href="{{ a.on_air_link}}" target="_blank">{% endif %}
            {% if a.on_air_tv %}{{ a.on_air_tv }}{% endif %}
            {% if a.on_air_link %}</a>{% endif %}</td>
        <td class="{% if a.on_air_time > time_now %}info{% else %}success{% endif %}"><span class="time-nowrap">{{ a.on_air_time_show }}</span>, <span class="time-nowrap">{{ a.on_air_date_show }}</span></td>
        <td>{% if a.dom_on_air_link %}<a href="{{ a.dom_on_air_link}}" target="_blank">{% endif %}
            {% if a.dom_on_air_tv %}{{ a.dom_on_air_tv }}{% endif %}{% if a.dom_on_air_link %}</a>{% endif %}
        {% if a.dom_on_air_link %}/ <span class="time-nowrap">{{ a.dom_on_air_time|date:"H:i, D" }}</span>{% endif %}</td>
    </tr>
    {% endfor %}
    {% if not forloop.last %}<tr><td colspan="6"></td></tr>{% endif %}
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
{% block footer_extra %}
<script type="text/javascript">
$("li#nav-bangumi").addClass("active");
$('tr[data-click]').on('click',function(){
    if ($(this).attr('data-click-on')) {
        $(this).removeAttr('data-click-on');
        $(this).next('tr[data-click-show]').remove();
    } else {
        $('tr[data-click-on]').removeAttr('data-click-on');
        $('tr[data-click-show]').remove();
        $(this).attr('data-click-on', '1').after('<tr>');
        var tr_info = $(this).next('tr');
        tr_info.attr('style', 'height:200px').attr('data-click-show', '1').append('<td colspan="6">');
    }
    return false;
});
$('tr[data-click] td a').click(function(e) {
    e.stopPropagation();
});
</script>
{% endblock %}

