{% extends "kotoridb/base.html" %}
{% block title %}gopass.moe - on air{% endblock %}
{% block main %}
<div class="container">
<div class="row">
<div class="col-lg-12">
<h1 class="page-header">On Air Animations</h1>
<ul class="nav nav-pills" style="margin-bottom:10px" id="nav-day">
    <li day="0"><a href="#">周日</a></li>
    <li day="1"><a href="#">周一</a></li>
    <li day="2"><a href="#">周二</a></li>
    <li day="3"><a href="#">周三</a></li>
    <li day="4"><a href="#">周四</a></li>
    <li day="5"><a href="#">周五</a></li>
    <li day="6"><a href="#">周六</a></li>
    <li day="7"><a href="#">全部</a></li>
</ul>
<table class="table table-striped table-bordered itemlist on-air-table">
<thead>
    <tr>
        <th>标题</th>
        <th>译名</th>
        <th>首播电视台</th>
        <th>首播时间</th>
        <th>国内官方</th>
    </tr>
</thead>
<tbody class="on-air-table">
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
{% block footer_extra %}
<script type="text/javascript">
$("li#nav-bangumi").addClass("active");
var dayDisp = ["周日", "周一", "周二", "周三", "周四", "周五", "周六"];
var hourThres = 4;
function pad0(x) {
    if (x < 10) {
        return "0"+x;
    } else {
        return x.toString();
    }
}
function getDisplayTime(t) {
    var res = new Object();
    if (t.getHours() < hourThres) {
        res.w = (t.getDay()+6)%7;
        t = new Date(t.getFullYear(),t.getMonth(),t.getDate()-1,t.getHours(),t.getMinutes(),t.getSeconds());
        res.disp = t.getFullYear()+"-"+
            pad0(t.getMonth()+1)+"-"+
            pad0(t.getDate())+" "+
            pad0(t.getHours()+24)+":"+
            pad0(t.getMinutes())+":"+
            pad0(t.getSeconds());
    } else {
        res.w = t.getDay();
        res.disp = t.getFullYear()+"-"+
            pad0(t.getMonth()+1)+"-"+
            pad0(t.getDate())+" "+
            pad0(t.getHours())+":"+
            pad0(t.getMinutes())+":"+
            pad0(t.getSeconds());
    }
    return res;
}
function tx(text, href) {
    if (href) {
        return '<a href="'+href+'">'+text+'</a>';
    } else {
        return text;
    }
}

var animes = new Array();
{% for a in animes %}
animes.push({
    title:"{{ a.title }}",
    homepage:"{{ a.homepage }}",
    alias:"{{ a.alias }}",
    on_air_tv:"{{ a.on_air.tv }}",
    on_air_link:"{{ a.on_air.link }}",
    on_air_time:new Date(Date.UTC({{ a.on_air.time|date:"Y" }},{{ a.on_air.time|date:"m"}}-1,{{ a.on_air.time|date:"d,H,i,s" }})),
    dom_on_air_tv:"{{ a.dom_on_air.tv }}",
    dom_on_air_link:"{{ a.dom_on_air.link }}",
});
{% endfor %}
$('ul#nav-day li').on('click', function(){
    $('ul#nav-day li').removeClass('active');
    $(this).addClass('active');
    $('tbody.on-air-table').children().remove();
    var day = parseInt($(this).attr('day'));
    var filter = function(w){
        if (day==7)
            return true;
        else
            return w==day;
    }
    for (var i=0; i<animes.length; i++) {
        a=animes[i];
        var dispTime = getDisplayTime(a.on_air_time);
        if (filter(dispTime.w)) {
            var row = $('tbody.on-air-table').append('<tr>').children(':last-child');
            var col = row.append('<td>').children(':last-child');
            col.append(tx(a.title, a.homepage));
            row.append('<td>'+a.alias+'</td>');
            col = row.append('<td>').children(':last-child');
            col.append(tx(a.on_air_tv, a.on_air_link));
            row.append('<td>'+dispTime.disp+'</td>');
            col = row.append('<td>').children(':last-child');
            col.append(tx(a.dom_on_air_tv, a.dom_on_air_link));
        }
    }
});
$('ul#nav-day li[day='+(getDisplayTime(new Date()).w)+']').click();

$('tr[data-click]').on('click',function(){
    if ($(this).attr('data-click-on')) {
        $(this).removeAttr('data-click-on');
        $(this).next('tr[data-click-show]').remove();
    } else {
        $('tr[data-click-on]').removeAttr('data-click-on');
        $('tr[data-click-show]').remove();
        $(this).attr('data-click-on', '1').after('<tr>');
        var tr_info = $(this).next('tr');
        tr_info.attr('style', 'height:200px').attr('data-click-show', '1').append('<td colspan="6">');
    }
    return false;
});
$('tr[data-click] td a').click(function(e) {
    e.stopPropagation();
});

/*
$('ul#nav-day li').on('click',function(){
    $('ul#nav-day li').removeClass('active'
*/
</script>
{% endblock %}

