{% extends "kotoridb/base.html" %}
{% load staticfiles %}
{% block title %}gopass.moe - on air{% endblock %}
{% block header_extra %}
<style type="text/css">
h2.item-header {margin-top:9px}
tr.item-list {background-color:transparent !important}
div.item-list {margin-bottom:8px}
span.item-list-key {margin-right:8px;color:#999;font-weight:700;display:inline-block}
span.item-list-value {}
div.item-list-clr {clear:both}
img.item-img {max-width:100%;max-height:480px}
</style>
{% endblock %}
{% block main %}
<div class="container">
<div class="row">
<div class="col-lg-12">
<h1 class="page-header">On Air Animations <small>click item for details</small></h1>
<ul class="nav nav-pills" style="margin-bottom:10px" id="nav-day">
    <li day="0"><a href="#">周日</a></li>
    <li day="1"><a href="#">周一</a></li>
    <li day="2"><a href="#">周二</a></li>
    <li day="3"><a href="#">周三</a></li>
    <li day="4"><a href="#">周四</a></li>
    <li day="5"><a href="#">周五</a></li>
    <li day="6"><a href="#">周六</a></li>
    <li day="7"><a href="#">全部</a></li>
</ul>
<table class="table table-striped table-bordered itemlist on-air-table">
<thead>
    <tr>
        <th>标题</th>
        <th>译名</th>
        <th>首播电视台</th>
        <th>首播时间</th>
        <th>国内首播</th>
    </tr>
</thead>
<tbody class="on-air-table">
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
{% block footer_extra %}
<script type="text/javascript">
$("li#nav-bangumi").addClass("active");

var dayDisp = ["周日", "周一", "周二", "周三", "周四", "周五", "周六"];
var hourThres = 4;
function getDisplayTime(t) {
    function pad0(x) {
        if (x < 10) {
            return "0"+x;
        } else {
            return x.toString();
        }
    }
    var res = new Object();
    if (t.getHours() < hourThres) {
        res.w = (t.getDay()+6)%7;
        t = new Date(t.getFullYear(),t.getMonth(),t.getDate()-1,t.getHours(),t.getMinutes(),t.getSeconds());
        res.time = 
            pad0(t.getHours()+24)+":"+
            pad0(t.getMinutes())+":"+
            pad0(t.getSeconds());
        res.date =
            t.getFullYear()+"-"+
            pad0(t.getMonth()+1)+"-"+
            pad0(t.getDate());
    } else {
        res.w = t.getDay();
        res.time =
            pad0(t.getHours())+":"+
            pad0(t.getMinutes())+":"+
            pad0(t.getSeconds());
        res.date =
            t.getFullYear()+"-"+
            pad0(t.getMonth()+1)+"-"+
            pad0(t.getDate());
    }
    return res;
}
var animes = new Array();
{% for a in animes %}
animes.push({
    title:"{{ a.title }}",
    homepage:"{{ a.homepage }}",
    alias:"{{ a.alias }}",
    on_air_tv:"{{ a.on_air.tv }}",
    on_air_link:"{{ a.on_air.link }}",
    on_air_time:new Date({{ a.on_air.time|date:"U" }}*1000),
    dom_on_air_tv:"{{ a.dom_on_air.tv }}",
    dom_on_air_link:"{{ a.dom_on_air.link }}",
    episodes:"{{ a.episodes }}",
    studio:"{{ a.studio }}",
    cover:{% if a.image %}"{{ a.image.url }}"{% else %}"{% static 'kotoridb/default-cover.png' %}"{% endif %},
    staff_list:[{% for s in a.staff_list %}{'title':'{{ s.title }}','staff':'{{ s.staff }}'},{% endfor %}],
    cv_list:[{% for c in a.cv_list %}{'character':'{{ c.character }}','cv':'{{ c.cv }}'},{% endfor %}],
});
{% endfor %}
$('ul#nav-day li').on('click', function(){
    function txa(text, href) {
        if (href) {
            return $('<a>').attr('target','_blank').attr('href',href).html(text);
        } else {
            return text;
        }
    }
    var now = new Date();
    $('ul#nav-day li').removeClass('active');
    $(this).addClass('active');
    $('tbody.on-air-table').children().remove();
    var day = parseInt($(this).attr('day'));
    var filter = function(w){
        if (day==7)
            return true;
        else
            return w==day;
    }
    for (var i=0; i<animes.length; i++) {
        var a=animes[i];
        var dispTime = getDisplayTime(a.on_air_time);
        if (filter(dispTime.w)) {
            var row = $('tbody.on-air-table').append('<tr>').children(':last-child').attr('anime-index',i).attr('data-click','1');
            var col = row.append('<td>').children(':last-child').append(txa(a.title, a.homepage));
            col = row.append('<td>').children(':last-child').html(a.alias);
            col = row.append('<td>').children(':last-child').append(txa(a.on_air_tv, a.on_air_link));
            col = row.append('<td>').children(':last-child').html(dispTime.time+', '+dispTime.date);
            if (a.on_air_time > now) {
                col.addClass('info');
            }
            col = row.append('<td>').children(':last-child').append(txa(a.dom_on_air_tv, a.dom_on_air_link));
        }
    }
    $('tr[data-click]').on('click',function(){
        if ($(this).attr('data-click-on')) {
            $(this).removeAttr('data-click-on').next('tr[data-click-show]').remove();
            $(this).children('td:first-child').children('span.glyphicon').remove();
        } else {
            $('tr[data-click-on]').removeAttr('data-click-on').children('td:first-child').children('span.glyphicon').remove();
            $('tr[data-click-show]').remove();
            $(this).children('td:first-child').prepend('<span class="glyphicon glyphicon-chevron-down" style="margin-right:4px">');
            $(this).attr('data-click-on', '1').after('<tr>');
            var tr_info = $(this).next('tr').addClass('item-list');
            var idx = parseInt($(this).attr('anime-index'));
            var a = animes[idx];
            var div = tr_info.attr('data-click-show', '1').append('<td colspan="5">').children();
            var box = div;
            div.append('<h2 class="page-header item-header">').children('h2').html('&nbsp;&nbsp;'+a.title+'&nbsp;&nbsp;')
                .append('<small>').children('small').html(a.alias);
            div = div.append('<div class="row">').children('div:last-child')
                .append('<div class="col-md-4"><img class="item-img" src="'+a.cover+'"></div>')
                .append('<div class="col-md-8">').children('div:last-child');

            function getItemList(items, div) {
                function getContent(x) {
                    return $('<div class="item-list col-md-6">')
                        .append('<span class="item-list-key">'+x.k+'</span>')
                        .append('<span class="item-list-value">'+x.v+'</span>');
                }
                div = div.append('<div class="row">').children('div:last-child');
                for (i=0; i<items.length; ++i)
                    div.append(getContent(items[i]));
            }
            // basic info
            var items = new Array();
            var dispTime = getDisplayTime(a.on_air_time);
            items.push({'k':'首播时间','v':dayDisp[dispTime.w]+' '+dispTime.time});
            items.push({'k':'首播日期','v':dispTime.date});
            items.push({'k':'话数','v':a.episodes});
            items.push({'k':'动画制作','v':a.studio});
            if (a.homepage) {
                items.push({'k':'官方网站','v':'<a target="_blank" href="'+a.homepage+'">'+a.homepage+'</a>'});
            } else {
                items.push({'k':'官方网站','v':a.homepage});
            }
            getItemList(items, div);

            //staff
            div.append('<h3>STAFF</h3>');
            items = new Array();
            for (i=0; i<a.staff_list.length; i++) {
                items.push({'k':a.staff_list[i].title, 'v':a.staff_list[i].staff});
            }
            getItemList(items, div);
            //cv
            div.append('<h3>CAST</h3>');
            items = new Array();
            for (i=0; i<a.cv_list.length; i++) {
                items.push({'k':a.cv_list[i].character, 'v':a.cv_list[i].cv});
            }
            getItemList(items, div);

            var content = div.find('span.item-list-key, h3');
            var mwidth = 0, sep = 0;
            for (i=0; i<content.length; ++i) {
                var c = $(content[i]);
                if (c.prop('tagName') == 'H3') {
                    for (j=sep; j<i; ++j) {
                        $(content[j]).css('width', (mwidth+4)+'px');
                    }
                    mwidth = 0;
                    sep = i+1;
                } else {
                    mwidth = Math.max(mwidth, parseInt(c.css('width').replace('px','')));
                }
            }
            if (sep < content.length) {
                for (j=sep; j<content.length; ++j) {
                    $(content[j]).css('width', (mwidth+4)+'px');
                }
            }
            box.wrapInner('<div style="display:none;" />')
                .parent()
                .find('td > div')
                .slideDown(256, function(){
                    var $set = $(this);
                    $set.replaceWith($set.contents());
                });
        }
        return false;
    });
    $('tr[data-click] td a').click(function(e) {
        e.stopPropagation();
    });
});
$('ul#nav-day li[day='+(getDisplayTime(new Date()).w)+']').click();

</script>
{% endblock %}

